apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: quorum-prod

namePrefix: prod-

replicas:
  - name: quorum-api
    count: 3
  - name: quorum-worker
    count: 2

configMapGenerator:
  - name: quorum-config
    behavior: merge
    literals:
      - NODE_ENV=production
      - ENABLE_SWAGGER=false
      - LOG_LEVEL=info

patches:
  - patch: |-
      - op: add
        path: /spec/template/metadata/annotations/prometheus.io~1scrape
        value: "true"
      - op: add
        path: /spec/template/metadata/annotations/prometheus.io~1port
        value: "3000"
      - op: add
        path: /spec/template/metadata/annotations/prometheus.io~1path
        value: "/metrics"
    target:
      kind: Deployment
      name: .*-api
